body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            padding: 20px;
        }
form {
            background: #fff;
            padding: 20px;
            width: 400px;
            margin: auto;
            border-radius: 5px;
}

 input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }
        .error {
            color: red;
            font-size: 13px;
        }
        .strength {
            font-size: 14px;
            margin-top: 5px;
        }
 button {
            margin-top: 15px;
            padding: 10px;
            width: 100%;
            background: green;
            color: white;
            border: none;
        }